@charset "UTF-8";
i {
  animation: miSpinner 2s infinite linear;
  size: 9px; }

@keyframes miSpinner {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

h1 {
  color: #373737; }

p {
  position: absolute;
  margin-left: 45px;
  top: 29px;
  font: 800 40px system-ui; }

body {
  background-color: #C0B283; }

p::before {
  font: 800 40px system-ui;
  content: counter(count);
  animation: counter 5s linear infinite;
  /* Si a単ado alternate, se hace regresivamente a su par, una vez llegue al tope*/
  counter-reset: count; }

/*
  
  Recursos utilizados como apoyo
  https://css-tricks.com/animating-number-counters/
  https://www.w3schools.com/cssref/css3_pr_animation-direction.asp
  https://css-tricks.com/almanac/properties/a/animation/
  
  */
.container,
.opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }

button {
  margin: 2%; }

.titulo {
  align-self: center; }

/*Pintar dinamicamente siempre con js?si quiero volver para atras que hago un reload?*/
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #373737;
  color: #Dcd0c0;
  border: 2px solid #F4F4F4;
  margin: 20px;
  width: 100%; }

.boxContainer {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #Dcd0c0; }

.text {
  color: #Dcd0c0; }

.desplegar {
  border: 2px solid #C0B283; }

input {
  height: 0px; }

/*.containA単adir button:hover {
  button::before{
    background-color: chartreuse;
  }
  +form {
    height: 160px;
    background-color: red;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.10s ease-in-out;

  }
  
}*/
span {
  font-size: 32px; }

.containA単adir {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 0;
  line-height: 0;
  width: 90%;
  -webkit-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
  background-color: #Dcd0c0; }
  .containA単adir button {
    width: 10%;
    align-self: flex-start; }

form input {
  width: 20%;
  height: 20%;
  margin: 10px; }

form label {
  width: 20%;
  margin: 10px; }

form button {
  align-self: flex-end; }

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #Dcd0c0;
  -webkit-transition: height 0.4s ease-in-out;
  transition: height 0.4s ease-in-out;
  overflow: hidden;
  height: 0;
  line-height: 0; }

.busqueda {
  align-self: center; }
